<%= turbo_frame_tag "item_#{item.id}_entry",
                    :class => "block rounded",
                    :data => {
                        turbo_cache_control: "no-cache",
                        id: item.id
                    } do %>
    <% if item.title.empty? %>
    <div class="shadow-sm border rounded border-gray-300 text-gray-300 italic p-2 cursor-pointer bg-slate-100 min-h-10">
        Untitled
    </div>
    <% else %>
    <div class="shadow-sm border rounded border-gray-300 p-2 cursor-pointer bg-slate-100 min-h-10">
        <%= item.title %>
    </div>
    <% end %>
<% end %>