@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  .ghost-class {
    @apply text-white;
  }
  .chosen-class {
    @apply bg-gray-500 text-gray-200;
  }
  .drag-class {
    @apply bg-white text-gray-400;
  }
}